@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Press Start 2P', cursive;
    background-color:rgba(255, 228, 196, 0.578);
}

.header,
.footer {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color:rgba(250, 187, 120, 0.572);
    box-shadow: blue 100px;
    left: 0;
    text-shadow: 2px 1px greenyellow;
}

.header {
    font-size: 50px;
    padding: 40px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.263);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    /* border: 2px solid rgba(83, 119, 36, 0.707); */
    width: 25em;
    height: 30em;
    margin-top: 12em;
    padding: 20px;
    box-shadow: 5px 5px rgba(33, 88, 37, 0.378);
    background: rgba(214, 222, 136, 0.508);
    backdrop-filter: blur(5px);
    border-radius: 5px;
}

.screen {
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 20px;
    text-align: right;
    background: rgba(68, 68, 68, 0.343);
    backdrop-filter: blur(5px);
    box-shadow: 2px 2px rgba(33, 88, 37, 0.537);
}

.lastOp {
    font-size: 15px;
    min-height: 32px;
}

.currentOp {
    min-height: 42px;
    font-size: 30px;
}

button {
    font-family: inherit;
    text-align: center;
    border-radius: 5px;
    border: none;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.btn-top {
    grid-column: span 2;
    padding: 15px;
}

#clear-btn {
    background-color: orange;
}

#delete-btn {
    background-color: rgba(168, 50, 144, 0.542);
}

.button {
    padding: 20px;
    background: rgba(202, 128, 128, 0.341);
    backdrop-filter: blur(5px);
    box-shadow: 1px 1px rgba(75, 128, 0, 0.737);
}

.footer {
    bottom: 0%;
    font-size: 20px;
    gap: 15px;
    box-shadow: 10px 0px 5px rgba(0, 0, 0, 0.263);
    padding: 5px;
}

#git {
    -moz-box-shadow: 2px 2px 5px greenyellow;
    -webkit-box-shadow: 2px 2px 5px greenyellow;
    box-shadow: 2px 2px 5px greenyellow;
    -moz-border-radius: 190px;
    -webkit-border-radius: 190px;
    border-radius: 190px;
}